<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @transaction.uid %>
</p>

<p>
  <strong>Pub0:</strong>
  <%= @transaction.pub0 %>
</p>

<p>
  <strong>Page:</strong>
  <%= @transaction.page %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
